<!-- create-employee.component.html -->
<div class="custom-form-container mt-4" style="max-width: 500px; margin: auto;">
  <h2 class="mb-3 text-primary text-center">Create Employee</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="bg-dark p-3 rounded text-light" autocomplete="off">
    <div class="mb-2">
      <label for="fullName" class="form-label">Full Name</label>
      <input type="text" class="form-control form-control-sm" id="fullName" formControlName="fullName" required />
    </div>

    <div class="mb-2">
      <label for="emailId" class="form-label">Email</label>
      <input type="email" class="form-control form-control-sm" id="emailId" formControlName="emailId" required />
    </div>

    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control form-control-sm" id="password" formControlName="password" required />
    </div>

    <div class="mb-2">
      <label for="role" class="form-label">Role</label>
      <select class="form-select form-select-sm" id="role" formControlName="role" required>
        <option value="">Select Role</option>
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-2" [disabled]="employeeForm.invalid">Create</button>
  </form>
</div>
